body {
    background: url('../media/back.gif') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #fff; /* Color de texto para mejorar la visibilidad sobre la imagen de fondo */
}

#overlay {
    padding: 20px;
    border-radius: 15px;
}

#title {
    color: #ffffff; /* Rojo */
    font-size: 75px;
    margin-top: 10px;
}

#subtitle {
    color: #faf5f5; /* Tono de rojo más claro */
    font-size: 35px;
    margin-bottom: 40px;
}

#logo{
    max-width: 75px;
}

#startButton {
    background-color: #ff0000; /* Negro */
    color: #ffffff; /* Rojo claro */
    padding: 20px 40px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 12px;
    animation: brillo 2s infinite;
}

@keyframes brillo {
    0% { box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8); }
    50% { box-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 40px rgba(255, 255, 255, 0.9); }
    100% { box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8); }
}

#startButton:hover {
    background-color: #ff0000; /* Negro más oscuro al pasar el ratón */
}

#creditsButton {
    font-size: 30px;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top: 275px;
    text-align: center;
}

#b1 {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 1250px;
}

.fa-music {
    font-size: 2em; /* Tamaño del icono */
    color: #ececec; /* Color del icono */
}

.fa-volume-xmark {
    font-size: 2em; /* Tamaño del icono */
    color: #ececec; /* Color del icono */
}

 /* Estilos para los botones */
#b1 {
    display: inline-block;
    margin-right: 10px; /* Ajusta el espacio entre los botones según sea necesario */
    background: none;
    border: none;
    cursor: pointer;
}