body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Silkscreen', sans-serif;
}

#congratulationsScreen {
    background: url('../media/EndGame.png') no-repeat center center fixed;
    background-size: cover; /* Ajusta para asegurar que cubra toda la pantalla */
    color: white;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    justify-content: flex-start;
    padding-top: 5vh;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#congratulationsScreen h1 {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff; /* Efecto de sombra neón */
    margin-bottom: 20px;
}

th, td {
    border: 2px solid #fff; /* Bordes blancos */
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

th {
    background-color: #000; /* Fondo de los encabezados */
    color: rgb(255, 0, 111); /* Color amarillo neón para los encabezados */
}

td {
    background-color: #222; 
    border-collapse: collapse;
    margin-top: 20px;
    color: rgb(255, 255, 255); 
}

button {
    background-color: #f00; /* Botón rojo neón */
    margin-top: 40vh;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 0 10px #f00, 0 0 20px #f00; /* Sombra exterior roja neón */
    border-radius: 5px;
}
