
#congratulationsScreen {
    background-color: black; /* Fondo oscuro para resaltar los colores brillantes */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* Estilos específicos para la tabla dentro de la pantalla de felicitaciones */
#congratulationsScreen table {
    border-collapse: collapse;
    margin-top: 20px;
}

#congratulationsScreen th, #congratulationsScreen td {
    border: 1px solid white; /* Bordes blancos para contraste */
    padding: 8px 16px;
}

#congratulationsScreen th {
    background-color: #f00; 
    color: #fff; 
}

#congratulationsScreen td {
    background-color: #222; 
    color: #0f0; 
}

/* Botón para reiniciar el juego con estilo que coincida con la tabla */
#congratulationsScreen button {
    background-color: #ff0; 
    color: black; 
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

#finalScores {
    padding: 10px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto; /* Centrar la tabla */
}

th, td {
    border: 2px solid white; /* Bordes blancos para las celdas */
    padding: 8px;
    text-align: left;
}

th {
    background-color: black; /* Fondo negro para los encabezados */
    font-family: "Silkscreen", sans-serif;

}

tbody tr {
    background-color: black; /* Fondo negro para las filas de datos */
}
h1{
    font-family: "Silkscreen", sans-serif;

}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: large;
    background-color: yellow; /* Botón amarillo para jugar de nuevo */
    color: black; /* Texto negro para el botón */
    border: none;
    cursor: pointer;
}

